.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 1rem 1rem 4rem;
  padding: 1rem;
}

.inForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 230px;
  height: 35px;
  padding-left: 0.2rem;
  font-size: 1rem;
  border-radius: 3px;
}

.text-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button-type {
  color: white;
  background-color: var(--primary-clr);
  padding: 0.5rem 2.2rem;
  border-radius: 5px;
}
