.navbar-header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  gap: 1rem;
  width: 100%;
  background-color: var(--neutral-100);
}

.navbar-header-mobile {
  display: none;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  width: 100%;
  background-color: var(--neutral-100);
}

.mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.buttonHeader-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.incription-login-button {
  padding: 0.5rem 1rem;
  background-color: white;
  color: var(--primary-clr);
  border: 0.1rem solid var(--primary-clr);
  border-radius: 0.5rem;
}

.vendre-button {
  padding: 0.5rem 1rem;
  background-color: var(--primary-clr);
  color: white;
  border: 0.1rem solid var(--primary-clr);
  border-radius: 0.5rem;
}

.vendre-button:hover {
  background-color: var(--primary-clr-accent);
  border: 0.1rem solid var(--primary-clr-accent);
}

.header-menu-btn {
  display: none;
  padding: 0.5rem 1rem;
  background-color: var(--primary-clr);
  color: white;
  border: 0.1rem solid var(--primary-clr);
  border-radius: 0.5rem;
}

@media (max-width: 1200px) {
  .buttonHeader-container {
    display: none;
  }

  .header-menu-btn {
    display: block;
  }

  .navbar-header-mobile {
    display: flex;
  }

  .navbar-header-desktop {
    display: none;
  }
}
