.containerOnglets {
  margin-top: 10%;
}

.containerButton {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3rem;
}

.buttonOnglet {
  border-bottom: solid 0.1rem var(--neutral-300);
}
.selected {
  border-bottom: solid 0.2rem var(--primary-clr-accent);
}

/********************** Utilise ces propriétées pour l'onglet "Mes annonces et Mon historique d'achat" ***********************/
.containerAnnonces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardAnnonces {
  margin: 30px;
  list-style: none;
  font-size: var(--fs-S);
}

.imagePathAnnonces {
  height: 20rem;
  object-fit: contain;
  background-color: var(--neutral-800);
  width: 15rem;
  border-radius: 3px;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.56);
}

.titleSearchMangaAnnonces {
  margin-top: 1rem;
  width: 15rem;
}
.priceAnnonces {
  font-weight: bold;
}
.name_condition {
  color: var(--neutral-600);
}
/******************************************************************************************************************************/

.statusOrder {
  font-size: var(--fs-XS);
  margin-top: 2%;
}
.completed {
  color: green;
}

.pending {
  color: orange;
}

.cancelled {
  color: red;
}

.default {
  color: gray;
}

.orderDate {
  font-size: var(--fs-XS);
  margin-top: 2%;
}

/********************** Utilise ces propriétées pour l'onglet "Mes évaluations" ***********************************************/
.containerEvaluations {
  height: auto;
}

.containerNote {
  border-bottom: solid 0.1rem var(--neutral-700);
  height: 70px;
  display: flex;
  align-items: center;
}

.average_rating {
  padding: 0 2rem 0 4.5rem;
  font-size: var(--fs-XL);
  font-weight: bold;
}

.Number_comment {
  font-size: var(--fs-S);
}

.containerCom {
  display: flex;
  align-items: center;
  border-bottom: solid 0.1rem var(--neutral-300);
}

.picture_buyer {
  height: 10rem;
  width: 10rem;
  clip-path: circle(50%);
  object-fit: cover;
  margin: 20px 45px 20px 90px;
}

.commentBuyer {
  height: auto;
}

.speudoBuyer {
  color: var(--primary-clr-accent);

  font-size: var(--fs-M);
}
.createdOn {
  color: var(--neutral-600);
  font-size: var(--fs-XS);
  margin-top: 2%;
}

.comment {
  margin-top: 2%;
  font-size: var(--fs-S);
}

.starcontainer {
  display: flex;
  font-size: var(--fs-L);
}

.rating {
  display: flex;
}
/* -----------------------------------CSS pour les couleurs des étoiles----------------------------------- */
/* CSS pour les demi-étoiles */
.half-star {
  color: #a6a6a6;
  position: relative;
}

.half-star::after {
  content: "★";
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 50%;
  color: #ffd700;
}

/* CSS pour les étoiles vides */
.empty-star {
  color: #a6a6a6;
}

/* CSS pour les étoiles pleines */
.full-star {
  color: #ffd700;
}
/* ------------------------------------------------------------------------------------------------------ */
/******************************************************************************************************************************/

@media screen and (max-width: 798px) {
  .containerCom {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .average_rating {
    padding-left: 1.5rem;
  }

  .picture_buyer {
    margin-left: 30px;
    margin-right: 30px;
    height: 8rem;
    width: 8rem;
  }

  .commentBuyer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
