.card {
    display: flex;
    border-radius: 8px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    width: 50%;

    }
  
  
.card img {
    width: 35%;
}
.information-card {
    margin-top: 5px;
}