.section-catalog {
  width: 100%;
}

.catalog-container ul {
  padding: 40px 30px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 10px;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-img {
  width: 100%;
  max-width: 160px;
  height: auto;
}

.title-catalog {
  font-size: var(--fs-L);
}

@media (min-width: 768px) {
  .catalog-container ul {
    gap: 40px 15px;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  }

  .catalog-img {
    max-width: 170px;
  }

  .title-catalog {
    font-size: var(--fs-XL);
  }
}

@media (max-width: 1200px) {
  .catalog-container ul {
    gap: 50px 20px;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
  }

  .catalog-img {
    max-width: 200px;
  }

  /* .title-catalog {
    font-size: var(--fs-XL);
  } */
}
