.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-100);
  width: 100%;
}

.home-banner-section {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 90%;
  height: 70vh;
  margin: 4rem 0 3rem 0;
  border-radius: 5px;
  background-image: url(src/assets/hero_banner.png);
  background-position: center;
  box-shadow: 0 0 10px rgb(138, 138, 138);
}

.home-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.92);
  height: 35vh;
  width: 400px;
  padding: 1rem;
  margin: 0 0 3rem 3rem;
  border-radius: inherit;
}

.home-banner-content h1 {
  font-size: 2.3rem;
  width: 250px;
}

.home-banner-content p {
  color: var(--primary-clr);
  font-size: 0.9rem;
  text-decoration: underline;
}

/* .hero-banner {
  position: relative;
  width: clamp(600px, 100%, 100%);
  height: 600px;
  border-radius: 1rem;
  background-color: orange;
  overflow: hidden;
} */

/* .hero-banner img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
} */

/* .hero-card {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  width: fit-content;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */
