.naruto-details {
  margin-left: 13%;
  display: flex;
  flex-direction: column;
}

.top-section {
  display: flex;
  margin-bottom: 20px;
}

.image-container img {
  width: 223px;
  height: auto;
  margin-right: 20px;
}

.description-manga {
  flex-grow: 1;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: nowrap;
}

.status-manga {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: left;
  background-color: rgb(226, 111, 3);
  color: white;
  padding: 20px;
}
.authors-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgb(239, 180, 125);
  padding: 10px;
  width: calc(100% - 20px);
}

.title-authors {
  margin-bottom: 10px; /* Ajustez selon l'espace souhaité */
  margin-left: 10px;
  color: rgb(226, 111, 3);
}

.data-authors {
  display: flex;
  gap: 40px;
}

.data-authors p {
  margin: 10px;
  color: black;
}

.data-authors p span {
  font-weight: bold;
}
