.new-advert {
  margin: auto;
  padding: 2rem 3rem;
  /* background-color: var(--neutral-200); */
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.new-advert h1 {
  font-size: var(--fs-XL);
  margin-bottom: 4rem;
}

.picture-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 5rem;
  width: 100%;
}

.picture-box {
  background-color: var(--neutral-400);
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.picture-box .label-picture {
  position: absolute;
  margin-bottom: 0;
}

.picture-box input {
  opacity: 0;
  height: 100%;
  width: 100%;
}

.picture-box .plus-icon {
  position: absolute;
}

.preview-container {
  position: relative;
}

.preview-image {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.picture-box .delete-preview {
  position: absolute;
  top: 0;
  right: 0;
}

.delete-preview img {
  width: 1.75rem;
}

.picture-box input:hover {
  cursor: pointer;
}

.new-advert label {
  font-size: var(--fs-M);
  display: block;
  margin-bottom: 1.25rem;
  font-weight: 500;
}

.new-advert select {
  width: 100%;
  margin-bottom: 3.75rem;
}

.new-advert [placeholder] {
  color: var(--neutral-800);
  font-size: var(--fs-XS);
}

.new-advert input {
  width: 100%;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--neutral-700);
  padding: 0.3rem 0;
  /* background-color: var(--neutral-200); */
  color: var(--neutral-800);
}

.new-advert .wrong-input {
  border: 1px solid red;
  border-radius: 3px;
}

.new-advert .warning {
  color: red;
  font-size: var(--fs-XS);
  margin-bottom: 2.25rem;
}

.new-advert .hide-warning {
  visibility: hidden;
}

.new-advert textarea {
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-700);
  border-radius: 3px;
}

.new-advert select {
  padding: 0.3rem;
  background-color: var(--neutral-200);
  border: 1px solid var(--neutral-700);
  border-radius: 3px;
}

.new-advert option {
  background-color: var(--neutral-200);
}

.new-advert .tab-container {
  display: flex;
  margin-top: 1.25rem;
}

.new-advert .tab-container button {
  width: 50%;
  font-size: var(--fs-M);
  padding: 1rem;
  margin-bottom: 2.75rem;
  /* font-weight: 500; */
}

.active-color {
  color: var(--neutral-800);
  font-weight: 500;
  /* border-bottom: 2px solid var(--neutral-800); */
  border-bottom: 2px solid var(--neutral-800);
}

.inactive-tab {
  color: var(--neutral-700);
  border-bottom: 2px solid var(--neutral-600);
}

.tome-active {
  /* border-top: 1px solid var(--neutral-800);
  border-right: 1px solid var(--neutral-800); */
}

.batch-active {
  /* border-top: 1px solid var(--neutral-800);
  border-left: 1px solid var(--neutral-800); */
}

.new-advert .ref {
  font-size: var(--fs-M);
  margin-bottom: 0.6rem;
  font-weight: 500;
}

.new-advert .instruction {
  color: var(--neutral-700);
  font-size: var(--fs-S);
}

.new-advert .add-button {
  padding: 0.5rem 3rem;
  background-color: var(--primary-clr);
  border: none;
  border-radius: 5px;
  color: var(--neutral-100);
  font-weight: 600;
  margin: 0 auto;
  display: block;
}

.new-advert .add-button:hover {
  background-color: var(--primary-clr-accent);
}

@media screen and (max-width: 1200px) {
  .picture-box {
    width: 12rem;
    height: 12rem;
  }

  .preview-image {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .picture-container {
    flex-direction: column;
    align-items: center;
  }
}
