.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background: #f8f8f8; /* Couleur de fond de la page */
}

.main-content {
  display: flex;
  justify-content: flex-start; /* Alignement sur la gauche */
  gap: 20px; /* Espace entre les colonnes */
}

.left-column {
  width: 70%; /* Largeur de la colonne de gauche */
}

.right-column {
  width: 30%; /* Largeur de la colonne de droite */
  margin-left: auto; /* Pousser la colonne de droite vers la droite */
}

.order-cards {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.address-container,
.payment-section {
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cross-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.plus-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* Ajoutez plus de styles ici selon vos besoins */
