* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.leftNavbar {
  grid-area: 1 / 1 / 2 / 2;
}

.mainContent {
  grid-area: 1 / 2 / 2 / 11;
}

body {
  font-family: "Montserrat", sans-serif;
}
