* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: green;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: red;
}

body {
  max-width: 400vh;
}
